In [1]:
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect('sqlite_db_pythonsqlite.db')

In [2]:
Bookings = pd.read_sql_query('select * from Bookings', cnx)
Members = pd.read_sql_query('select * from Members', cnx)
Facilities = pd.read_sql_query('select * from Facilities', cnx)

In [ ]:
'''/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */
*/'''

In [21]:
y= '''SELECT CONCAT( m.surname, ' ', m.firstname ) AS member, r.memid as recommender_id, CONCAT( r.surname, ' ', r.firstname ) AS recommeder
FROM Members AS m
LEFT JOIN Members AS r ON m.recommendedby = r.memid
WHERE r.recommendedby !=0
order BY member'''

In [25]:
x = '''
SELECT f.name, CONCAT(surname, ' ', firstname ) AS membername,\
CASE WHEN memid !=0 THEN (membercost * slots) ELSE (guestcost * slots) END AS cost\
FROM Facilities AS f\
INNER JOIN Bookings as b\
on f.facid = b.facid\
INNER JOIN Members as m\
on b.memid = m.memid\
) AS sub'''

In [34]:
y = "SELECT CONCAT( m.surname, ' ', m.firstname ) AS member, r.memid as recommender_id\
, CONCAT( r.surname, ' ', r.firstname ) AS recommeder\
FROM Members AS m LEFT JOIN Members AS r\
ON m.recommendedby = r.memid\
WHERE r.recommendedby !=0\
order BY member"

In [3]:
A10 = pd.read_sql_query(y, cnx)
A10

NameError: name 'y' is not defined

In [ ]:
sql = ("SELECT firstname \
         , surname\
        FROM members\
        WHERE joindate = (SELECT MAX(joindate)\
                          FROM members)")

In [7]:
A10 = pd.read_sql_query(, cnx)

DatabaseError: Execution failed on sql 'SELECT sub.name, SUM( sub.cost ) AS totalrevenueFROM (SELECT f.name, CONCAT( surname, , firstname ) AS membername,CASEWHEN memid !=0 THEN (membercost * slots)ELSE guestcost * slotsEND AS costFROM Facilities AS fINNER JOIN BookingsUSING ( facid )INNER JOIN MembersUSING ( memid )) AS subGROUP BY sub.nameHAVING totalrevenue >10000ORDER BY totalrevenue DESC': near "(": syntax error

In [ ]:
df = pd.read_sql_query("SELECT * ", cnx)

In [ ]:
df = pd.read_sql_query(SELECT * FROM , engine)